<ng-controller='contactController'>   

    <!--         <div class="jumbotron text-center">
            <a href="#/{{font.font}}">
            <li ng-repeat="item in contacts">
              <p>{{item.font}}</p>
            </li>
  			</a>
            </div>
             -->
   
<!-- 
       <div class="jumbotron text-center">


        <p>{{ font.font }}</p>

        <li ng-repeat="font in contacts">
		<p class="text-primary">{{font.font}}</p>
		</li>

    </div>

    <ul class="list-unstyled">
    
</ul>


 -->
<div class="jumbotron text-center">
	<a href="#/museo">
        <p>{{ font1 }}</p>
	</a>
</div>

  <div class="jumbotron text-center">

        <p>{{ font2 }}</p>

    </div> 

       <div class="jumbotron text-center">

        <p>{{ font3 }}</p>

    </div>


       <div class="jumbotron text-center">

        <p>{{ font4 }}</p>

    </div>


       <div class="jumbotron text-center">

        <p>{{ font5 }}</p>

    </div>


