<!-- Matt's example -->
<ng-controller='primaryFontController'>  

<div ng-repeat="serifs in primaryFont" class="jumbotron text-center">
  <a href="{{primaryFont.name}}">{{serifs.name}}</a>
  </div>
</div>



<!-- this is our code -->

<!--   <ng-controller='primaryFontController'>  
<div ng-repeat="font in primaryFont" class="jumbotron text-center">

	<p class="{{font.cssName}}">{{font.name}}</p> -->
<!--     <button ng-click="fontClick()">Add to Favorites</button>
</div> -->

<!--

<div ng-repeat="fav in favorites track by $index">
    <p>{{fav.name}}</p>
</div> -->

       

<!-- <ng-controller='aboutController'>

    <div class="jumbotron text-center">
      <a href="#/museo sans">
        <p>{{ font1 }}</p>
   
    </div>

       <div class="jumbotron text-center">
      <a href="#/open sans">
        <p>{{ font2 }}</p>

    </div>


       <div class="jumbotron text-center">
      <a href="#/droid sans">
        <p>{{ font3 }}</p>

    </div>


       <div class="jumbotron text-center">
      <a href="#/univers">
        <p>{{ font4 }}</p>

    </div>


       <div class="jumbotron text-center">
      <a href="#/source sans pro">
        <p>{{ font5 }}</p>

    </div> -->
           
        
